# Backend
BACKEND_PORT=
ML_SERVICE_HOST=
ML_SERVICE_PORT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Website
WEBSITE_PORT=
VITE_API_BASE_URL=

# ML service
GRPC_HOST=
GRPC_PORT=