.idea
.vscode
.venv
.ipynb_checkpoints

__pycache__
venv
node_modules

.env
.DS_Store

inference/generated/

**.pth
**.safetensors

!inference/weights/.gitkeep
!model/artifacts/.gitkeep
!model/artifacts/**/.gitkeep